version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update npm
          command: sudo npm i -g npm@^6.2
      - run: npm install
      - run: npm run lint
      - run: npm test
